.search-gray-box {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #cfcfcf;
    background: linear-gradient(180deg, #eeeeee 0%, #dcdcdc 50%, #c8c8c8 100%);
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    color: #333;
    width: 100%;
  }
  .search-gray-box td {
      font-weight: bold;
  }

  body {
    background-image: url("http://api.institutblaina.cm/bymquiz-admin/assets/background.jpg"); /* Specify the image path */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover; /* Ensures the image covers the entire background */
    background-attachment: fixed; /* Keeps the image fixed while scrolling */
    background-color: #cccccc; /* Fallback color if the image doesn't load */
}